body{
    font-family: 'Montserrat', sans-serif;
    background: black;
}
.container {
    width: 375px;
    margin: 0 auto;
}
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}
.header__burger:before,
.header__burger:after {
    content: "";
    background-color: #F38A03;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 25px;
    transition: all 0.3s ease 0s;
}
.header__burger:before {
    top:43px;
}
.header__burger:after {
    bottom: -14px;
}
/*.header__burger.active span {*/
/*    transform: scale(0);*/
/*}*/
/*.header__burger.active:before {*/
/*    transform: rotate(45deg);*/
/*    top: 9px;*/
/*}*/
/*.header__burger.active:after {*/
/*    transform: rotate(-45deg);*/
/*    bottom: 9px;*/
/*}*/
.header__burger span {
    position: absolute;
    background-color: #F38A03;
    right: 25px;
    width: 100%;
    height: 2px;
    top: 22px;
    transition: all 0.3s ease 0s;
}
.header-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}
.header-menu {
    display: none;
}
.bgimg {
    /*position: relative;*/
    background-image: url("../img/section_gym/bg_small.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 524px;
    background-position: right bottom 21px;
    align-items: center;
}
.content-text {
    position: relative;
    color: white;
}
.content__title {
position: absolute;
    left: 12px;
    top: 94px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    padding: 41px 31px 41px 31px;
    background-color: black;
    border: 1px solid black;
}
.content__link {
    position: absolute;
    top: 219px;
    left: 75px;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 32px 7px 32px;
     color: white;
    background-color: black;
    border: 1px solid black;
}
.content-info {
   position: relative;
}
.content__decor {
    position: absolute;
    top: -22px;
    right: 0;
}
.content__description{
    margin: 5em 3em;
    border: 1px solid black;
    color: white;
    width: 73%;
    font-size: 16px;
    line-height: 20px;
}
.our-services-content {
   color: white;
}
.our-our-services__description{
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    width: 45%;
}
.our-our-services__img{
text-align: center;
}
.our-our-services__img--top {
    height: 100%;
}
.our-services__info {
    padding: 1em;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.location__img{
    width: 100%;
}
.location__map{
}
.location__info{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: white;
    margin: 7px 0;
}
.border{
    box-sizing: border-box;
    border: 5px solid #F38A03;
}
.contacts{
    margin-top: 50px;
}
.contacts-content {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    color: white;
}
.contacts__emeil {
    margin-bottom: 22px;
}
.contacts__phone{
    margin-bottom: 16px;
}
.contacts__location{
    margin-bottom: 26px;
}
.contacts--dfex {
    display: flex;
    text-align: start;
    justify-content: center;
    margin-top: 10px;
}
.contacts__img {
    height: 12%;
    width: 12%;
}
.contacts__address {
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
}
.contacts__subtitle {
    text-transform: uppercase;
    padding: 26px 0 21px;
}
.contacts__img--phone{
    margin-top: 10px;
}
.contacts__img--location {
    margin-top: 10px;
}
.content__cub{
    display: none;
}
.contacts__address--email{
    display: none;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
    .bgimg {
        /*position: relative;*/
        background-image: url("../img/section_gym/bgcolor.png");
        background-size: cover;
        background-position: -133px;
    }
    .content__title {
        position: absolute;
        left: 17px;
        top: 94px;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: 100;
        padding: 29px 31px 29px 31px;
        background-color: black;
        border: 1px solid black;
    }
    .content__link {
        position: absolute;
        top: 207px;
        left: 75px;
        font-size: 16px;
        line-height: 20px;
        padding: 7px 32px 7px 32px;
        color: white;
        background-color: black;
        border: 1px solid black;
    }
    .content__decor {
        position: absolute;
        top: -1px;
        right: 0;
    }
    .location {
        margin-top: 25px;
    }
    .contacts__img {
        width: 8%
    }
    .contacts-content {

        margin: 0 auto;
        text-align: center;
        width: 60%;
        justify-content: center;
        color: white;
      }
    .www {
        display: block;
    }
    .qqq {

        display: block;
    }
    .contacts__img--location {
        margin-left: -23px;
    }
    .content__description {
        margin: 5em 11em;
        color: white;
        width: 52%;
        font-size: 16px;
        line-height: 20px;
    }
    .content__cub{
    display: none;
    }
    .contacts__address--email{
        display: none;
    }
}
@media (min-width: 1280px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    .header-body {
        display: flex;
        justify-content: space-between;
        width: 100%;
     align-items: center;
    }
    .header-menu {
        display: flex;
        padding-right: 44px;
    }
    .header__list{
        display: flex;
    }
    .header__list li {
        margin: 0 0 0 100px;
    }
    .header__list a{
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-size: 20px;
    }
    .header__burger {
        display: none;
    }
    .content__decor{
        display: none;
    }
    .content-text{
        margin-left: 81px;
    }
    .content__cub {
        position: absolute !important;
        right: 2.3em;
        height: 100px;
        width: 20px;
    }
    .content__title {
        font-size: 32px;
        font-weight: 400;
        padding: 52px 46px 52px 46px;
    }
    .content__link {
        position: absolute;
        top: 252px;
        left: 90px;
        font-size: 16px;
        line-height: 20px;
        padding: 14px 55px 14px 55px;
        color: white;
        background-color: black;
        }
    .content__description {
        margin: 2em 4em;
        color: white;
        width: 83%;
        font-size: 25px;
        line-height: 30px;
    }
.our-services-content{
    width: 74%;
    margin: 0 auto;
}
    .our-our-services__description{
        width: 32%;
    }
    /*.aaa {*/
    /*    display: block !important;*/
    /*}*/
    .our-our-services__img{
        text-align: center;
    }
    .our-our-services__img--top {
        height: 48%;
    }
    .our-services-content img {
    width: 24%;
}
    .location-description{
        width: 50%;
       margin: 0 auto;
        border: none;
    }
    .location__info {
        display: none;
        font-size: 22px;
        line-height: 15px;
        text-align: center;
        color: white;
        margin: 12px 0;
    }
    .contacts {
        display: flex;
        justify-content: center;
        margin-top: 96px;
    }
    .contacts-content {
     display: flex;
        justify-content: space-between;

    }
    .contacts__img {
        width: 33%;
        height: 27%;
        padding-bottom: 40px;
        padding-right: -37px;
        padding-left: 29px;
    }
    .border {
        border: none;
    }
    .contacts__address--email {
        display: block;
        text-align: center;
        padding-bottom: 9px ;
        font-size: 25px;
        line-height: 30px;
    }
    .contacts__subtitle {
        color: white;
        text-align: left;
        margin-left: 181px;
        font-size: 45px;
        line-height: 55px;
        padding-bottom: 85px;
    }
    .contacts--dfex {
        display: block;
        text-align: center;
    }
    .our-services__info {
        font-size: 18px;
        line-height: 22px   ;
    }
}